body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.menu-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #333;
    padding: 10px;
    z-index: 99;
}

.menu-bar button {
    background-color: #444;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
}

.menu-bar button:hover {
    background-color: #555;
}

.menu-bar button.pressed {
    background-color: #007ef5;
    color: rgb(0, 0, 0);
}

.menu-bar button.pressed:hover {
    background-color: #77b5ee;
}

.map-container {
    position: relative;
    width: 100%;
    aspect-ratio: 2550/1903;
    min-width: 1275px;
    min-height: 952px;
    top: 0;
    left: 0;
    object-fit: contain;
    overflow: auto;
    background-image: url('images/Hex_Map.png');
    background-size: 100% 100%;
    transition: transform 0.3s ease;
}

.map {
    position: absolute;
    width: 92%;
    height: 91%;
    background-image: url('images/map.jpg');
    background-size: 100% 100%;
    transition: transform 0.3s ease;
    top: 6%;
    left: 5%;
}

.hex-grid {
    position: absolute;
    top: 8%;
    left: 6%;
    width: 88%;
    height: 82%;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.hex {
    width: 125%;
    height: 95%;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    background-color: rgba(143, 143, 143, 0.5);
    cursor: pointer;
    position: relative;
}

.hex:hover {
    background-color: rgba(143, 143, 143, 0.8);
}

.hex:nth-child(even) {
    transform: translateY(50%);
}

.locations {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
}

.location {
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}

.locationseparator {
    margin-top: 10px;
    border-top: 1px solid white;
    margin-bottom: 10px;
}

.text-display {
    margin-top: 20px;
    font-size: 18px;
    text-align: center;
}

/* Modal styles */
.modals {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal {
    margin: 15% auto;
    margin-bottom: -12%;
    background-color: #fefefe;
    border: 1px solid #888;
    position: relative;
    width: 80%;
}

.modal-text-display {
    padding: 20px;
}

.modal-menu-bar {
    background-color: #ccc;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px solid #888;
}

.modal-menu-bar .edit-modal {
    background-color: #007ef5;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
}

.modal-menu-bar .edit-modal:hover {
    background-color: #77b5ee;
}

.modal-menu-bar .add-location {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
}

.modal-menu-bar .add-location:hover {
    background-color: #45a049;
}

.modal-menu-bar .delete-location {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
}

.modal-menu-bar .delete-location:hover {
    background-color: #ff7f7f;
}

.modal-menu-bar .raw-modal {
    background-color: #ac4caf;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
}

.modal-menu-bar .raw-modal:hover {
    background-color: #d17fd1;
}

.modal-menu-bar .raw-modal.pressed {
    background-color: #4cafa2;
    color: white;
}

.modal-menu-bar .raw-modal.pressed:hover {
    background-color: #7fd1c9;
}

.modal-content {
    padding: 20px;
}

.internal-table {
	border-collapse: separate;
	border-spacing: 1px;
	background-color: #CDCDCD;
	margin: 10px 0px 15px 0px;
	width: 100%;
	text-align: left;
}
.internal-table th {
	background-color: #E6EEEE;
	border: 1px solid #FFFFFF;
	padding: 4px;
	color: #3D3D3D!important;
}
.internal-table td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFFFFF;
	vertical-align: top;
}
.internal-table .even td {
	background-color: #FFFFFF;
}
.internal-table .odd td {
	background-color: #F0F0F6;
}
.internal-table .row-hover tr:hover td {
	background-color: #D0D0D6!important;
}
.internal-table-table-description {
	clear: both;
	display: block;
}

.legend-table td {
    padding: 10px;
    border-bottom: #000 1px solid;
}

.legend-table td img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}