body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.menu-bar {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #333;
    padding: 10px;
}

.menu-bar button {
    background-color: #444;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
}

.menu-bar button:hover {
    background-color: #555;
}

.map-container {
    position: relative;
    width: 100%;
    aspect-ratio: 2550/1903;
    overflow: hidden;
    background-image: url('images/Hex_Map.png');
    background-size: 100% 100%;
    transition: transform 0.3s ease;
}

.map {
    position: absolute;
    width: 92%;
    height: 91%;
    background-image: url('images/map.jpg');
    background-size: 100% 100%;
    transition: transform 0.3s ease;
    top: 6%;
    left: 5%;
}

.hex-grid {
    position: absolute;
    top: 8%;
    left: 6%;
    width: 88%;
    height: 82%;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.hex {
    width: 125%;
    height: 95%;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    background-color: rgba(143, 143, 143, 0.5);
    cursor: pointer;
    position: relative;
}

.hex:hover {
    background-color: rgba(143, 143, 143, 0.8);
}

.hex:nth-child(even) {
    transform: translateY(50%);
}

.locations {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.location {
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}

.locationseparator {
    margin-top: 10px;
    border-top: 1px solid white;
    margin-bottom: 10px;
}

.text-display {
    margin-top: 20px;
    font-size: 18px;
    text-align: center;
}

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.internal-table {
	border-collapse: separate;
	border-spacing: 1px;
	background-color: #CDCDCD;
	margin: 10px 0px 15px 0px;
	width: 100%;
	text-align: left;
}
.internal-table th {
	background-color: #E6EEEE;
	border: 1px solid #FFFFFF;
	padding: 4px;
	color: #3D3D3D!important;
}
.internal-table td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFFFFF;
	vertical-align: top;
}
.internal-table .even td {
	background-color: #FFFFFF;
}
.internal-table .odd td {
	background-color: #F0F0F6;
}
.internal-table .row-hover tr:hover td {
	background-color: #D0D0D6!important;
}
.internal-table-table-description {
	clear: both;
	display: block;
}